<div>
  <h2>Edit User</h2>
  <form>
    <label for="name">Name:</label>
    <input type="text" id="name" [(ngModel)]="user.name" name="name" required>

    <label for="email">Email:</label>
    <input type="email" id="email" [(ngModel)]="user.email" name="email" required>

    <label for="role">Role:</label>
    <input type="text" id="role" [(ngModel)]="user.role" name="role" required>


    <button type="button" (click)="saveEdit()">Save</button>
    <button routerLink="" type="button" (click)="cancelEdit()">Cancel</button>
  </form>
</div>
