<!-- admin-dashboard.component.html -->
<div>
    <table>
      <thead>
        <tr>
          <th><input type="checkbox" (change)="toggleSelectAll()" /></th>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of getPagedUsers()">
          <td><input type="checkbox" [(ngModel)]="user.isSelected" [value]="user" (change)="toggleSelect(user)" /></td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
          <td>
            <button routerLink="edit" (click)="editUser(user)">Edit</button>
            <button (click)="deleteUser(user)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <!-- Pagination controls -->
    <div>
      <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
      Page {{ currentPage }}
      <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage * pageSize >= getFilteredUsers().length">Next</button>
    </div>
  </div>
  